{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="text-center">Convert Magnet file to Torrent file</h2>
    <p class="text-center">It can be converted into a downloadable .torrent file through a hash value or a complete magnet link.</p>

{% endblock %}
